header#Header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    .nav_list {
      display: flex;
      align-items: center;
      padding-right: 44px;
      @media (max-width: 600px) {
        padding-right: 0px;
      }
      li {
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        @media (max-width: 600px) {
          padding-right: 15px;
        }

        &:last-child {
          padding-right: 0px;
        }
      }
      a,
      button {
        color: #fff;
        text-decoration: none;
        font-family: "League Spartan", sans-serif;
        font-size: 15px;
        @media (max-width: 600px) {
          font-size: 10px;
        }
      }
      .connect_btn {
        width: 90px;
        height: 30px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        display: inline-block;
        background: transparent;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        @media (max-width: 600px) {
          width: 80px;
          height: 25px;
        }
      }
    }
  }
}
