#ConnectModal {
  #connectModalView {
    padding-right: 0px !important;
  }
  .modal-content {
    width: 448px;
    background: #161c2c;
    border-radius: 20px;
    margin: auto;
    .connect_btn {
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      img {
        $s: 102px;
        width: $s;
        height: $s;
        display: inline-block;
        @media (max-width: 600px) {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
