#Homepage {
  #Section1 {
    margin-top: 37px;
    .watch_btn {
      display: inline-block;
      cursor: pointer;
      .watch_box {
        display: inline-block;
        $s: 33px;
        width: $s;
        height: $s;
        background: #c4c4c4;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  #Section2 {
    margin-top: 95px;
    .contract_list {
      font-size: 11.35px;
      li {
        margin-bottom: 12px;
        font-family: "Poppins", sans-serif;
      }
    }
  }
  #Section3 {
    margin-top: 61px;
    .custom_card {
      padding: 28px 25px;
      border-radius: 8.04px;
      transition: 0.5s;
      &:hover {
        background: #b6b6b6;
        .card_para {
          color: #e2e2e2 !important;
        }
      }
      .card_body {
        .card_para {
          color: #acaba9;
          font-size: 9.46px;
        }
      }
    }
  }
  #Section4 {
  }
  #Section5 {
    padding-top: 118px;
    padding-bottom: 100px;
    .section_wrapper {
      background: url("../../Static/img/discount_bg.png") center / 100% 100%
        no-repeat;
      min-height: 256.21px;
      position: relative;
      .subscribe_btn {
        position: absolute;
        right: 20px;
        top: -10px;
        background: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
      }
      .section_content {
        padding: 40px 20px;
        .para_section {
          color: #d9d9d9;
          font-size: 11px;
        }
      }
    }
  }
}
