#Homepage {
  #Section1 {
    margin-top: 37px;
    @media (max-width: 600px) {
      margin-top: 20px;
    }
    .watch_btn {
      display: inline-block;
      cursor: pointer;
      .watch_box {
        display: inline-block;
        $s: 33px;
        width: $s;
        height: $s;
        background: #c4c4c4;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
    .we_are_img {
      @media (max-width: 400px) {
        width: 100%;
      }
    }
  }
  #Section2 {
    margin-top: 95px;
    @media (max-width: 900px) {
      margin-top: 50px;
    }
    @media (max-width: 600px) {
      margin-top: 25px;
    }
    .contract_list {
      font-size: 11.35px;
      li {
        margin-bottom: 12px;
        font-family: "Poppins", sans-serif;
      }
    }
    .contract_img {
      @media (max-width: 400px) {
        width: 100%;
      }
    }
  }
  #Section3 {
    margin-top: 61px;
    .custom_card {
      padding: 28px 25px;
      border-radius: 8.04px;
      transition: 0.5s;
      &:hover {
        background: #b6b6b6;
        .card_para {
          color: #e2e2e2 !important;
        }
      }
      .card_body {
        .card_para {
          color: #acaba9;
          font-size: 9.46px;
        }
      }
    }
  }
  #Section4 {
    margin-top: 90px;
    font-family: "Poppins", sans-serif;
    .about_contact_wrapper {
      position: relative;
      transform: translateX(30px);
      padding: 19px 18px;
      width: 317.28px;
      height: 154.23px;
      @media (max-width: 600px) {
        width: 210.28px;
        height: 154.23px;
      }
      background: #ffffff;
      box-shadow: 0px 62.9517px 50.3614px rgba(0, 0, 0, 0.02),
        0px 40.802px 29.4941px rgba(0, 0, 0, 0.0151852),
        0px 24.2481px 16.041px rgba(0, 0, 0, 0.0121481),
        0px 12.5903px 8.18372px rgba(0, 0, 0, 0.01),
        0px 5.1294px 4.10352px rgba(0, 0, 0, 0.00785185),
        0px 1.16577px 1.98181px rgba(0, 0, 0, 0.00481481);
      border-radius: 6.29517px;
      .satisfaction {
        position: absolute;
        top: -39px;
        left: -28px;
      }
      .para {
        font-weight: 500;
        font-size: 8.51623px;
        line-height: 195%;
        color: #2e2f34;
        margin-bottom: 11px;
      }
      .user_details {
        strong {
          font-style: normal;
          font-weight: 600;
          font-size: 11.3313px;
          line-height: 17px;
          color: #18181d;
          margin-bottom: 0px;
        }
        span {
          font-style: normal;
          font-weight: 500;
          font-size: 8.81324px;
          line-height: 13px;
          color: #2e2f34;
        }
      }
      .after_details {
        width: 316.02px;
        height: 146.05px;
        position: absolute;
        bottom: -48px;
        right: -26px;
        border: 1.25903px solid #f7f7f7;
        @media (max-width: 600px) {
          width: 220.28px;
          height: 120.05px;
        }
        filter: drop-shadow(0px 62.9517px 50.3614px rgba(0, 0, 0, 0.02))
          drop-shadow(0px 40.802px 29.4941px rgba(0, 0, 0, 0.0151852))
          drop-shadow(0px 24.2481px 16.041px rgba(0, 0, 0, 0.0121481))
          drop-shadow(0px 12.5903px 8.18372px rgba(0, 0, 0, 0.01))
          drop-shadow(0px 5.1294px 4.10352px rgba(0, 0, 0, 0.00785185))
          drop-shadow(0px 1.16577px 1.98181px rgba(0, 0, 0, 0.00481481));
        border-radius: 6.29517px;
        padding: 13px 23px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        strong {
          font-style: normal;
          font-weight: 600;
          font-size: 11.3313px;
          line-height: 17px;
          color: #ffffff;
        }
        span {
          font-style: normal;
          font-weight: 500;
          font-size: 8.81324px;
          line-height: 13px;
          color: #c4c4c4;
        }
      }
    }
  }
  #Section5 {
    padding-top: 118px;
    padding-bottom: 100px;
    .section_wrapper {
      background: url("../../Static/img/discount_bg.png") center / 100% 100%
        no-repeat;
      min-height: 256.21px;
      position: relative;
      .subscribe_btn {
        position: absolute;
        right: 20px;
        top: -10px;
        background: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
      }
      .section_content {
        padding: 40px 20px;
        .para_section {
          color: #d9d9d9;
          font-size: 11px;
        }
      }
    }
  }
}
